
/* map styling */

.map-dialog-description {
    color: #ffc107;
    height: 100px;
    width: 200px;
    margin: 0;
    background-color: rgba(38, 41, 43, 0.66);
    border-radius: 3px;
    display: block;
    padding: 8px;
    opacity: 0;
    will-change: opacity;
    transition: 0.3s opacity;
    text-align: center;
    pointer-events: none;
    position: relative;
    margin-left: -100px;
    left: 50%;
    top: 100px;
    z-index: 100;
}

@media (max-height: 800px) {
    .map-dialog-description {
        top: 40px;
    }
}

.map-dialog {
    width: 100%;
    /* padding-bottom: 32px; */
    text-align: center;
    /* height: 64px; */
    pointer-events: none;
}

.map-dialog-description img {
    width: 24px;
    display: inline-block;
}

#map svg {

    margin: auto;
    opacity: 1;
    transition: 1s opacity;

    /* we have the map as background image such that we can display:none the hexagons
    in the svg which greatly improves performance on firefox */
    background-image: url(public/assets/map/map.svg);
}


#map svg.hide-circles circle {
    fill: #26292b;
}

.peer-own {
    display: block !important;
    fill: white !important;
    -webkit-animation: connected 1800ms ease 5;
    animation: connected 1800ms ease 8;
}

.peer-connected-terminal {
    display: block !important;
    fill: #fec02c !important;
    -webkit-animation: connected 1800ms ease 10;
    animation: connected 1800ms ease 3;
}

.peer-connected-browser {
    display: block !important;
    fill: #12428c !important;
    -webkit-animation: connected 1800ms ease 10;
    animation: connected 1800ms ease 3;
}

.peer-own,
.peer-connected-terminal,
.peer-connected-browser {
    will-change: opacity;
}


.link {
    stroke: #dedede;
    stroke-width: 1;
    stroke-dasharray: 5 5;
    opacity: 0.5;
}


@media  screen and  (max-width: 480px) {
    #map svg{
        box-sizing: border-box;
        transform: scale(1.15);
    }
}

@media   screen and  (max-width: 800px) {

    /* disable map animations when map is in background */
    .peer-own,  .peer-connected-browser, .peer-connected-terminal {
        -webkit-animation: none;
        animation: none;
        will-change: initial;
    }

    #map svg{
        box-sizing: border-box;
        transform: scale(1.05);
    }

}


/* Large Screen */

@media screen and (min-width: 1080px) {
    #map svg {
        box-sizing: border-box;
        transform: scale(0.9);
    }
}

@media screen and (min-width: 1400px) {
    #map svg {
        box-sizing: border-box;
        transform: scale(0.8);
    }
}
