* {
    margin: 0;
    padding: 0;
}

body{
    background: #000;
    color: #D5D5D5;
    font-family: avenir;
}

input:focus, textarea:focus{
    outline: none;
}

h1{
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    color: #ffc12c;
    line-height: 2.2em;
    font-size: 36px;
    word-wrap: break-word;
    transition: all .5s linear;
}

h2{
    color: #8e8e8e;
    letter-spacing: 5px;
    font-size: 22px;
    line-height: 60px;
    transition: all .5s linear;
}

h3{
    color: #8e8e8e;
    letter-spacing: 4px;
    font-size: 18px;
    margin-top: 30px;
    line-height: 50px;
    color: #fff;
    transition: all .5s linear;
}

h4{
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
}

h5{
    display: block;
    padding: 10px 0;
    font-size: 16px;
}

span{
    width: 80%;
    display: block;
    margin: 0 auto;
    width: 80%;
    display: block;
    margin: 0 auto;
    line-height: 30px;
    letter-spacing: 1px;
    color: #989898;
}

a{
    cursor: pointer;
    color:#f6cd69;
    transition: all .5s linear;
    text-decoration: none;
}

a:hover{
    color: #fff;
    transition: all .5s linear;
}


#dashboardMining{
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    height: 30px;
    background-color: #262626;
    display: block;
    left: 0;
    padding-bottom: 3px;
    right: 0;
    z-index: 1000;
    border-top: solid 1px #444444;
    font-family: 'avenir',sans-serif;
}

#dashboardWallet{
    font-family: 'avenir',sans-serif;
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #dashboardMining{
        background-color: #424242;
        border-bottom: solid 2px #000;
    }
}



.walletSection{
    display: inline-block;
    vertical-align: top;
    height: 315px;
    overflow: scroll;
    width: 100%;
}


.miningPowerThreads{
    font-size: 14px;
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    padding-top: 8px;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #fff;
    letter-spacing: 5px;
    margin: 0;
}


.walletStartMining{
    position: absolute;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 20px;
    background-color: #ffffff;
    color: #f20;
    display: inline-block;
    width: 230px;
    cursor: pointer;
    text-align: center;
    transition: all .3s linear;
}

.walletStartMining a{
    padding-top: 5px;
    display: block;
    color: #000;
}

.walletStartMining a:hover{
    color: #ffc12c;
}

.walletStartMining:hover{
    background-color: #191919;
    transition: all .3s linear;
}

.minningController p{
    font-size: 20px;
    margin-right: -4px;
}

#miningDetails{
    display: inline-block;
    line-height: 32px;
    margin-left: 10px;
    margin-top: 0;
}

#miningDetails p{
    margin-top: 0;
    font-size: 12px;
    color: #D5D5D5;
}

#threadsControll{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #1f1f1f;
}

#threadsControll .leftButton {
    float: left;
}

#threadsControll .rightButton {
    float: right;
}

#threadsControll .button p{
    padding-top: 3px;
    padding-bottom: 4px;
    line-height: 27px;
    margin: 0;
}

#allWalets{
    /*border-top: solid 1px #7b7b7b;*/
    display: block;
    /*padding-top: 10px;*/
}


.miningPowerText{
    font-size: 10px;
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    padding-top: 5px;
    margin: 0;
    color: #fff;
}


.miningPowerText .secondWord{
    height: auto;
    line-height: 10px;
    margin: 0;
    font-weight: bold;
    color: #fff;
    margin-right: -4px;
}


#threadsControll .button{
    display: inline-block;
    background-color: #1f1f1f;
    color: #fff;
    font-size: 26px;
    border: solid 1px #565656;
    width: 31px;
    border-top: none;
    border-bottom: none;
    text-align: center;
    cursor: pointer;
    transition: all .3s linear;
}

#threadsControll .button:hover{
    background-color: #000;
    transition: all .3s linear;
}

#threadsControll .button:first-child{
    margin-top: 0;
}

#threadsNumber{
    font-size: 20px;
    padding: 0 10px;
    width: 20px;
    text-align: center;
    padding-bottom: 4px;
    line-height: 25px;
    display: inline-block;
    color: #fff;
    background-color: #d23c25;
    vertical-align: top;
    padding-top: 4px;
    border-right: solid 1px #444;
    margin-right: -4px;
}

.whiteText{
    color: #fff;
    margin-left: 10px;
}

#minningController{
    border-top:none;
    padding-bottom: 0;
    margin-bottom: 15px;
    display: inline-block;
}

#createWalletAdress{
    border: solid 1px #7b7b7b;
    padding-bottom: 0;
    margin-bottom: 15px;
    display: inline-block;
}

#createWalletAdress p:hover{
    background-color: #191919;
    transition: all .3s linear;
}

#createWalletAdress p{
    padding: 10px;
    padding-top: 14px;
    background-color: #353535;
    color: #bbb;
    display: inline-block;
    width: 214px;
    cursor: pointer;
    text-align: center;
    transition: all .3s linear;
}

.WEBD{
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    color: #fec02c;
    vertical-align: top;
    padding-top: 3px;
    float: right;
    min-width: 300px;
    text-align: center;
    border-left: solid 1px #444444;

    margin-top: 0;
}
